body {
	background-color: black;
	margin: 0;
}
canvas {
	margin: 50px 120px;
	background-color: white;
	background-image: url("../img/ball.jpg");
	border: 5px solid grey;
	border-radius: 20px;
}